/* ForumView container */
.forum-container {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;

}

/* ForumView title */
.forum-title {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* Search bar */
.search-bar {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.search-bar input {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
}

/* Add post form container */
.add-post-form-container1 {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;

}

/* Post container */
.post-container {
    margin-bottom: 2rem;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.post-container:hover {
    transform: scale(1.02);

}

/* Post title */
.post-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    cursor: pointer;
    color: #007bff;
}

.post-container h2:hover {
    color: #0062cc;
}

/* Post content */
.post-container p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Comment form container */
.comment-form-container {
    margin-top: 2rem;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.comment-form-container label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.comment-form-container textarea {
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.comment-form-container button {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.comment-form-container button:hover {
    background-color: #0062cc;
}

.post-title-container {
    margin-top: 0;
    text-align: center;
}

.post-title {
    font-size: 36px;
}

.post-container {
    font-size: px;
}

.Please-login {
    text-align: center;
    font-weight: bold;
    font-size: 2.2em;
}