:root {
    /* Add variables for commonly used values */
    --color-blue: #0095ff;
    --color-red: #ff3b3b;
    --color-grey: #cccccc;
    --color-white: #ffffff;
    --color-bg: #f2f2f2;
    --spacing-small: 10px;
    --spacing-medium: 20px;
  }
/* -----------------------------------------------------------Login Style------------------------------------------------- */
/* Container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  /* Form */
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    /* Limit the form width */
  }
  
  /* Header */
  .login-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .login-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .login-label-text {
    width: 100px;
    display: inline-block;
    margin-right: 20px;
    text-align: right;
  }
  
  
  /* Input fields */
  .login-input {
    /* Add left margin to create space */
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    margin-left: 10px;
    /* Add left margin to create space */
  }
  
  
  .login-input:focus {
    outline: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Button */
  .login-button {
    width: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #3e8e41;
  }
  
  /* Toggle button */
  .login-toggle-button {
    margin-top: 20px;
    color: #4caf50;
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .login-toggle-button:hover {
    color: #3e8e41;
  }
